pkg/*
*.gem
.bundle
coverage
.DS_Store
.rspec-tm
doc
Gemfile.lock
tmp

# Ignore bundler config.
/.bundle

#
# jetbrains suggests ignoring _only_ these 2 files in git.
#
/.idea/workspace.xml
/.idea/tasks.xml

